<a href="https://colab.research.google.com/github/jjcheung/ctcuc22/blob/main/JJ_Cheung_2022_Python_Programming_Practical_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **2022 Python Programming Practical 2**

**Q1. (Check if number is odd or even)**

Write a program that reads an integer and checks whether it is odd or even. 

Sample interaction:
```
Enter number: 25
25 is odd

Enter number: 8
8 is even

```

In [ ]:
num = int(input("Enter number: "))
if num%2 == 0:
  print(num, 'is even')
else: 
  print(num, 'is odd')

Enter number: 8
8 is even

**Q2. (Validate triangles and compute perimeter)**

Write a program that reads three edges for a triangle and determines whether the input is valid. The input is valid if the sum of any two edges is greater than the third edge. The program will compute the perimeter of the triangle if the input is valid. Otherwise, display that the input is invalid. 

Sample interaction:
```
Enter side 1: 2
Enter side 2: 2
Enter side 3: 1
Perimeter = 5

Enter side 1: 1
Enter side 2: 2
Enter side 3: 1
Invalid triangle!

```

In [ ]:
side1 = int(input("Enter side 1: "))
side2 = int(input("Enter side 2: "))
side3 = int(input("Enter side 3: "))

if (side1 + side2 > side3) and (side3 + side2 > side1) and (side1 + side3 > side2):
  perimeter = side1 + side2 + side3
  print('Perimeter =', perimeter)
else:
  print('Invalid triangle!')

Enter side 1: 1
Enter side 2: 2
Enter side 3: 1
Invalid triangle!

**Q3. (Determine grade)**

Write a program that prompts the user to enter a score between 0 and 100 inclusive and output the corresponding grade as well as a Pass/Fail status. Output an error message if the entered score in not within the valid range. The grading system is as follows (S and U are not passes):

A: 70 - 100  
B: 60 - 69  
C: 55 - 59  
D: 50 - 54  
E: 45 - 49  
S: 35 - 44  
U: 0 - 34

Sample interaction:
```
Enter score: 73
A
Pass

Enter score: 37
S
Fail

Enter Score: -1
Invalid! Score must be within 0 - 100.

```

In [ ]:
score=int(input('Enter Score: '))
grade =''

if score < 0 or score > 100:                      #invalid
  print ('Invalid! Score must be within 0 - 100')
elif score >= 70:
  grade = 'A'
elif score >= 60:
  grade = 'B'
elif score >= 55:
  grade = 'C'
elif score >= 50:
  grade = 'D'
elif score >= 45:
  grade = 'E'
elif score >= 40:
  grade = 'S'
else:
  grade = 'U'

#output
print(grade)
if grade == 'S' or grade == 'U':
  print('Fail')
elif grade:                       # for grades A to E, ignores invalid entry
  print('Pass')

Enter Score: 56
C
Pass

In [ ]:
#define dictionary grades as key, scores as value
grades = {
    'A':[70, 100],
    'B':[60, 69],
    'C':[55, 59],
    'D':[50, 54],
    'E':[45, 49],
    'S':[40, 44],
    'U':[0, 39]
}

#defining pass grade
passes = ['A', 'B', 'C', 'D', 'E']

#input
score=int(input('Enter Score: '))

if score < 0 or score > 100:                      #invalid
    print ('Invalid! Score must be within 0 - 100')
else:
    #iterating through dictionary
    for key, value in grades.items():
        if value[0] <= score <= value[1]:
            print (key)
            if key in passes:
                print('Pass')
            else:
                print('Fail')

Enter Score: 34
U
Fail

**Q4. (Determine leap year)**

Write a program that prompts the user to enter a year and determines whether it is a leap year. A year is a leap year if it is divisible by 4 but not 100, or is divisible by 400. 

Sample interaction:
```
Enter year: 2020
Leap

Enter year: 2019
Non-Leap
```

In [ ]:
year = int(input('Enter year: '))

if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
  print ('Leap')
else:
  print ('Non-Leap')

Enter year: 1900
Non-Leap

**Q5. (Find number of days in a month)**

Write a program that prompts the user to enter the month and year, and displays the number of days in the month. Sample interaction:
```
Enter month: 2
Enter year: 2020
February 2020 has 29 days.

Enter month: 3
Enter year: 2021
March 2021 has 31 days.

```

In [ ]:
#defining list of dictionary
calender = [
            {'month': 'January', 'day':31},
            {'month': 'February', 'day':28},
            {'month': 'March', 'day':31},
            {'month': 'April', 'day':30},
            {'month': 'May', 'day':31},
            {'month': 'June', 'day':30},
            {'month': 'July', 'day':31},
            {'month': 'August', 'day':31},
            {'month': 'September', 'day':30},
            {'month': 'October', 'day':31},
            {'month': 'November', 'day':30},
            {'month': 'December', 'day':31}
]

month = int(input('Enter month: '))
year = int(input('Enter year: '))

#check for leap year
leap = False
if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
  leap = True

if leap == True and month == '2':         #if leap year
  print('February',year,'has 29 days.')
else:                                     #non-leap year
  print(calender[month-1]['month'], year, 'has',calender[month-1]['day'], 'days.')

Enter month: 5
Enter year: 4003
May 4003 has 31 days.

**Q6. (Convert from kilograms to pounds)**

Write a program that displays the following table (1 kilogram = 2.2 pounds):
```
Kilograms Pounds
1         2.2
2         4.4
3         6.6
...
9         19.8
10        22.0
```

In [ ]:
import pandas as pd

#define empty dataframe with column headers
column_names = ['Kilograms', 'Pounds']
df = pd.DataFrame(columns = column_names)

#append rows
for i in range (1,11):
  df=df.append({'Kilograms':i,'Pounds':i*2.2}, ignore_index=True)

print(df)

   Kilograms  Pounds
0        1.0     2.2
1        2.0     4.4
2        3.0     6.6
3        4.0     8.8
4        5.0    11.0
5        6.0    13.2
6        7.0    15.4
7        8.0    17.6
8        9.0    19.8
9       10.0    22.0

**Q7. (Convert from miles to kilometres)**

Write a program that displays the following two tables side-by-side (1 mile = 1.609 kilometres):
```
Miles	Kilometers	Kilometres	Miles
1    	1.609     	20        	12.430
2    	3.218     	25        	15.538

...
9    	14.481    	60        	37.290
10   	16.090    	65        	40.398
```

In [ ]:
#column header
print("{0:9}{1:14}{2:14}{3}".format('Miles', 'Kilometers', 'Kilometres', 'Miles'))

#for loop for rows
for mile in range(1,11):
  km = 15+mile*5             #for columns 3 and 4
  print("{0:<9}{1:<14.3f}{2:<14}{3:.3f}".format(mile, mile*1.609, km, km/1.609))

Miles    Kilometers    Kilometres    Miles
1        1.609         20            12.430
2        3.218         25            15.538
3        4.827         30            18.645
4        6.436         35            21.753
5        8.045         40            24.860
6        9.654         45            27.968
7        11.263        50            31.075
8        12.872        55            34.183
9        14.481        60            37.290
10       16.090        65            40.398

**Q8. (Find two highest scores)**

Write a program that prompts the user to enter the number of students and each student's name and score, and finally displays the student with the highest score and the student with the second-highest score. Enter up to 5 student records.

In [ ]:
num = int(input('Enter number of students: '))

#defining dictionary, with names as keys and marks as values
marks={}

#input
for i in range (num):
    name = input('Enter name: ')
    score = int(input('Enter score: '))
    marks[name] = score

#retrieving name and score lists from dictionary for use and manipulation
name_list = list(marks.keys())
score_list = list(marks.values())

#getting the index of the student with the top score
post_1 = score_list.index(max(score_list))
print (name_list[post_1])

#removing the name and score of top student from the two lists
name_list.remove(name_list[post_1])
score_list.remove(score_list[post_1])

#getting the index of the student with the second top score (current top score in existing list)
post_2 = score_list.index(max(score_list))
print (name_list[post_2])

Enter number of students: 3
Enter name: a
Enter score: 43
Enter name: b
Enter score: 23
Enter name: c
Enter score: 76
c
a

**Q9. (Finding the smallest n such that n<sup>2</sup> > 12000)**

Use a while loop to find the smallest integer n such that n<sup>2</sup> is greater than 12,000.

In [ ]:
#estimating n value
n = round(12000**0.5)

#increment n if square is smaller or equal to 12000
while n**2 <= 12000:
  n+=1

print (n, n**2)

110 12100

**Q10. (Finding the largest n such that n<sup>3</sup> < 12000)** 

Use a while loop to find the largest integer n such that n<sup>3</sup> is less than 12,000.

In [ ]:
#estimating value of n
n = round(12000**(1/3))

#decrement n if cube is not less than 12000
while n**3 >= 12000:
  n-=1

print (n, n**3)

22 10648

**Q11. (Computing the greatest common divisor)**

A solution to find the greatest common divisor of two integers n1 and n2 is as follows:
* First find d to be the minimum of n1 and n2
* Then check whether d, d-1, … d-2, 2, or 1 is a divisor for both n1 and n2 in this order.
* The first such common divisor is the greatest common divisor for n1 and n2. 

Write a program to implement this solution.  
Sample interaction:
```
Enter n1: 12
Enter n2: 18
GCD: 6
```

In [ ]:
n1 = int(input('Enter n1: '))
n2 = int(input('Enter n2: '))

gcd = min(n1, n2)                         #finding the smaller value of n1 and n2
while n1 % gcd != 0 or n2 % gcd != 0:     #testing if current value of gcd is not a factor of either n1 and n2
  gcd-=1                                  #decrement for next while loop

print('GCD:', gcd)

Enter n1: 12
Enter n2: 18
GCD: 6

1**Q12. (Find factors of a positive integer)**

Write a program that reads a positive integer > 1 and displays all its factors.   
Sample interaction:
```
Enter n: 120
Factors: 2 2 2 3 5 
```

In [ ]:
n = int(input('Enter n: '))
print('Factors:', end = ' ')

while n > 1:
  f = 2               #smallest possible factor
  while n % f !=0:
    f+=1              #increment f if f is not a factor
  print(f, end= ' ')
  n = n / f           #update n as n / f

Enter n: 120
Factors: 2 2 2 3 5

In [ ]:
#num = [1, 2, 3, 5, 7]

x = int(input('Enter x: '))
num = []
total=0

for i in range(x):
    num.append(int(input('Enter number to add: ')))
    total += num[i]

print (total)

Enter x: 5
Enter number to add: 1
Enter number to add: 2
Enter number to add: 3
Enter number to add: 4
Enter number to add: 5
15