<a href="https://colab.research.google.com/github/jjcheung/ctcuc22/blob/main/JJ_Cheung_2022_Python_Programming_Practical_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **2022 Python Programming Practical 1**

If you do not have one already, create a [GitHub](https://github.com) account.

Create a public repository ctcuc22

File --> Save a copy in GitHub under this repository

For the following questions,

*   standard input: keyboard
*   standard output: screen

**Q1. (Converting Fahrenheit to Celsius)**

Write a program that reads a Fahrenheit degree as a float from standard input, then converts it to Celsius and displays the result in standard output. The formula for the conversion is:
```
celsius = (5/9) * (fahrenheit - 32)
```

In [ ]:
#input
temp_f = float(input("Enter Temperature in Fahrenheit: "))

#Temp in Celcius
temp_c = (5/9) * (temp_f - 32)

#output
print(temp_c)

Enter Temperature in Fahrenheit: 100
37.77777777777778

**Q2. (Computing the volume of a cylinder)**

Write a program that reads in the radius and length of a cylinder and computes its volume using the formulae:
```
area = radius * radius * pi
volume = area * length
```

In [ ]:
from math import pi

#input
radius = float(input("Enter radius in cm: "))
length = float(input("Enter length in cm: "))

#calculation
volume = pi * (radius**2) * length

#output
print("The volume of the cylinder is "+ str(round(volume,1)) + " cubic centimetres.")

Enter radius in cm: 3.2
Enter length in cm: 2.3
The volume of the cylinder is 74.0 cubic centimetres.

**Q3. (Converting miles into kilometers)**

Write a program that reads a number in miles, converts it to kilometres, and outputs the result. One mile is 1.60934 kilometres. Display your answer correct to 3 decimal places.

In [ ]:
#input
dist_mile = float(input("Enter distance in miles: "))

#calculation to km
dist_km = dist_mile * 16.0934

#output
print('The distance in kilometres is '+ str(round(dist_km,3))+' km.')

Enter distance in miles: 43
The distance in kilometres is 692.016 km.

**Q4. (Summing the digits in an integer)**

Write a program that reads an integer between 0 and 1000 and adds all the digits in the integer. For example, if an integer is 932, the sum of all its digits is 14.

Hint: Use the % operator to extract digits, and use the // operator to remove the extracted digit. For instance, 932 % 10 = 2 and 932 // 10 = 93

In [ ]:
#define total sum variable
sum = 0

#input
num1 = int(input("Enter integer between 0 and 1000: "))

#while loop to extract mod value to add to sum, for all digits
while num1 >0:
  sum+=num1%10
  num1=num1//10

#output
print("sum = " + str(sum))

Enter integer between 0 and 1000: 123
sum = 6

**Q5. (Converting an uppercase letter to lowercase)**

Write a program that converts an uppercase letter from standard input to a lowercase letter by making use of its ASCII value.

http://www.asciitable.com

In [ ]:
upper = input("Enter uppercase letter: ")
lower = ord(upper) + 32 # ordinal
print(chr(lower))

Enter uppercase letter: A
a

**Q6. (Finding the character of an ASCII code)**

Write a program that receives an ASCII value (an integer between 0 and 127) and displays its character. For example, if the user enters 97, the program displays character a.

http://www.asciitable.com

In [ ]:
a_val = int(input("Enter an integer between 0 and 127: "))
print (chr(a_val))

Enter an integer between 0 and 127: 126
~

**Q7. (Payroll)**

Write a program that reads in the following information and prints a payroll statement. A sample input and output session is as follows:

Sample input:
```
Enter name: Lim Ah Seng
Enter number of hours worked weekly: 10
Enter hourly pay rate: 6.75
Enter CPF contribution rate(%): 20
```

Sample output:
```
Payroll statement for Lim Ah Seng
Number of hours worked in week: 10
Hourly pay rate: $6.75
Gross pay = $67.50
CPF contribution at 20% = $13.50
Net pay = $54.00
```

In [ ]:
#input
name = input("Enter name: ")
hours = int(input("Enter number of hours worked weekly: "))
pay_rate = float(input("Enter hourly pay rate: "))
cpf_rate = int(input("Enter CPF contribution rate(%): "))

#calculations
gross_pay = hours * pay_rate
cpf_cont = cpf_rate / 100 * gross_pay
net_pay = gross_pay - cpf_cont

#output
print("")
print("Payroll statement for "+name)
print("Number of hours worked in week: "+ str(hours))
print("Hourly pay rate: $"+ str(pay_rate))
print("Gross pay = $"+ "{:.2f}".format(gross_pay))
print("CPF contribution at " + str(cpf_rate) +"% = $" + "{:.2f}".format(cpf_cont))
print("Net pay = $"+"{:.2f}".format(net_pay))

Enter name: Lim Ah Seng
Enter number of hours worked weekly: 10
Enter hourly pay rate: 6.75
Enter CPF contribution rate(%): 20

Payroll statement for Lim Ah Seng
Number of hours worked in week: 10
Hourly pay rate: $6.75
Gross pay = $67.50
CPF contribution at 20% = $13.50
Net pay = $54.00

In [ ]:
"{:.2f}".format(5)

'5.00'

In [ ]:
round(5,2) #round doesn't include trailing zeroes

5