<a href="https://colab.research.google.com/github/jjcheung/ctcuc22/blob/main/Relational_Database_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Member 1: Lorraine Neo

Member 2: Cheung Jun Jie

Design and implement a >1 table relational database project with Python and SQLite.

Your project should perform the standard CRUD operations plus at least 1 aggregation function.

Task: 

Manage a database of COVID-19 patients and clusters

ER-diagram:

![ERD.jpg]()

Table specification:

Patient (**CaseID**, Patient, Age, Gender, Nationality, Status)

ClusterPatient (*CaseID*, *ClusterID*)

Cluster (**ClusterID**, Cluster)

Legend: **Bold - Primary Key**, Italics - Foreign Key

Python implementation:

**Menu**

In [ ]:
# program menu
def menu():
    print('COVID 19 Database Query')
    
    print('1. List all tables')
    print('2. Show table records')
    print('3. Insert record(s)')
    print('4. Update record(s)')
    print('5. Delete record(s)')
    print('6. Show patients by Cluster')
    print('7. [Pro Mode] Enter SQL Command')

    print('0. Exit')

**Database creation**

In [ ]:
import sqlite3
import csv

# create database connection
connection = sqlite3.connect('covid.db')

# create cursor
cursor = connection.cursor()

# create tables
cursor.execute('CREATE TABLE IF NOT EXISTS Patient (CaseID INTEGER, Patient TEXT, Age INTEGER, Gender TEXT, Nationality TEXT, Status TEXT, PRIMARY KEY(CaseID) );')
cursor.execute('CREATE TABLE IF NOT EXISTS Cluster (ClusterID INTEGER, Cluster TEXT, PRIMARY KEY(ClusterID));')
cursor.execute('CREATE TABLE IF NOT EXISTS ClusterPatient (CaseID INTEGER, ClusterID INTEGER, FOREIGN KEY(CaseID) REFERENCES Patient(CaseID), FOREIGN KEY(ClusterID) REFERENCES Cluster(ClusterID) );')

#empty lists to store values from csv
cluster = []
clusterid = 1
patient = []
clusterpatient = []

#reading csv
with open('covid.csv', newline = '') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        patient.append([row['CaseID'], row['Patient'], row['Age'], row['Gender'], row['Nationality'], row['Status']])
        if row['ClusterName'] != '': #if cluster is identified / linked
            if ';' in row['ClusterName']: #if patient belong to multiple clusters
                clist = row['ClusterName'].split(';') #list of clusters patient belong to
            else: #if patient belongs to only 1 cluster
                clist = [row['ClusterName']]
            for c in clist: 
                cid = -1 #to search for cluster id
                for lst in cluster: 
                    if c in lst: #if existing cluster
                        cid = lst[0]
                        break
                if cid == -1: #if new cluster
                    cluster.append([clusterid, c])  #append to list of clusters, with id
                    clusterpatient.append([row['CaseID'], clusterid]) #append to list for cluster-patient table
                    clusterid += 1                  #new id for next cluster
                else:
                    clusterpatient.append([row['CaseID'], cid])
        
#using values in lists to add to tables in database       
cursor.executemany('INSERT INTO Patient (CaseID, Patient, Age, Gender, Nationality, Status) VALUES (?, ?, ?, ?, ?, ?);', tuple(patient))
cursor.executemany('INSERT INTO ClusterPatient (CaseID, ClusterID) VALUES (?, ?);', tuple(clusterpatient))
cursor.executemany('INSERT INTO Cluster (ClusterID, Cluster) VALUES (?, ?);', tuple(cluster))

connection.commit()
connection.close();

**Execution of programme**

In [ ]:
def list_tables(cursor):
    cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table'")
    
    print('List of Tables:')
    result = cursor.fetchall()
    for row in result:
        print(row[0])
    print()

def show_records(cursor):
    list_tables(cursor)
    table = input('Choose table: ')
    query = 'SELECT * FROM ' + table +';'
    
    cursor.execute(query)
    name = [col[0] for col in cursor.description]
    print(name)
    result = cursor.fetchall()
    for row in result:
        print(row)
    print()

def insert_records(cursor, connection):
    list_tables(cursor)
    table = input('Choose table: ')
    if table == 'Cluster':
        cursor.execute("SELECT * FROM Cluster")
        result = cursor.fetchall()
        clus_id = result[-1][0] + 1
        print(f'Allocated ClusterID: {clus_id}')
        name = input('Enter Cluster Name: ')
        cursor.execute("INSERT INTO Cluster (ClusterID, Cluster) VALUES (?, ?);", (clus_id, name))
    elif table == 'ClusterPatient':
        caseid = int(input('Enter Case ID: '))
        clus_id = int(input('Enter Cluster ID: '))
        cursor.execute("INSERT INTO ClusterPatient (CaseID, ClusterID) VALUES (?,?);", (caseid, clus_id))
    elif table == 'Patient':
        #print("Function in Maintenance.")
        cursor.execute("SELECT * FROM Patient")
        result = cursor.fetchall()
        caseid = result[-1][0] + 1
        print(f'Allocated Case ID: {caseid}')
        name = input('Enter Patient Name: ')
        age = int(input('Enter Patient Age: '))
        gender = input('Enter Patient Gender: ')
        ntion = input('Enter Nationality of Patient: ')
        status = input('Enter Status of Patient: ')
        cursor.execute('INSERT INTO Patient (CaseID, Patient, Age, Gender, Nationality, Status) VALUES (?, ?, ?, ?, ?, ?);', (caseid, name, age, gender, ntion, status))
    connection.commit()
    print('Record inserted.')
    print()

def update_records(cursor, connection):
    list_tables(cursor)
    table = input('Choose table: ')
    if table == 'Cluster':
        clus_id = int(input('Enter Cluster ID: '))
        name = input('Enter Updated Cluster Name: ')
        cursor.execute("UPDATE Cluster SET Cluster = ? WHERE ClusterID = ?;", (name, clus_id))
    elif table == 'ClusterPatient':
        print("Please use delete and insert functions to update records in this table.")
    elif table == 'Patient':
        case = int(input("Enter Case ID: "))
        status = input("Enter current status of Patient: ")
        cursor.execute("UPDATE Patient SET Status = ? WHERE CaseID = ?;", (status, case))
    connection.commit()
    print('Record updated.')
    print()

def delete_records(cursor):
    list_tables(cursor)
    table = input('Choose table: ')
    if table == 'Cluster':
        clus_id = input('Enter Cluster ID: ')
        cursor.execute("DELETE FROM Cluster WHERE ClusterID = ?;", (clus_id))
    elif table == 'ClusterPatient':
        case = input('Enter Case ID: ')
        clus_id = input('Enter Cluster ID: ')
        cursor.execute("DELETE FROM ClusterPatient WHERE CaseID = ? AND ClusterID = ?;", (case, clus_id))
    elif table == 'Patient':
        case = input("Enter Case ID: ")
        cursor.execute("DELETE FROM Patient WHERE CaseID = ?;", (case))
    connection.commit()
    print('Record deleted.')
    print()

def patient_by_cluster(cursor):
    results = cursor.execute("""
        SELECT p.Patient, c.Cluster
        FROM Patient AS p 
        INNER JOIN ClusterPatient AS cp ON p.CaseID = cp.CaseID 
        INNER JOIN Cluster AS c ON cp.ClusterID = c.ClusterID
        ORDER BY c.Cluster;""")
    for record in results:
        print(record)
    print()

def promode(cursor, connection):
    query = input('Enter SQL Command: ')
    cursor.execute(query)
    result = cursor.fetchall()
    for row in result:
        print(row)
    connection.commit()
    print()

def main():
    # create database connection
    connection = sqlite3.connect('covid.db')

    # create cursor
    cursor = connection.cursor()
    option = '-1'
    while option != '0':
        menu()
        option = input('Please enter option: ')
        print()
        if option == '1':
            list_tables(cursor)           
        elif option == '2':
            show_records(cursor)
        elif option == '3':
            insert_records(cursor, connection)
        elif option == '4':
            update_records(cursor, connection)
        elif option == '5':
            show_records(cursor)
        elif option == '6':
            patient_by_cluster(cursor)
        elif option == '7':
            promode(cursor, connection)
        elif option == '0':
            print('Thank you for using database.')
        else:
            print('Invalid option. Please try again!')
    print('Goodbye!')

    connection.close()

main()

COVID 19 Database Query
1. List all tables
2. Show table records
3. Insert record(s)
4. Update record(s)
5. Delete record(s)
6. Show patients by Cluster
7. [Pro Mode] Enter SQL Command
0. Exit
Please enter option: 4

List of Tables:
Patient
Cluster
ClusterPatient

Choose table: Cluster
Enter Cluster ID: 12
Enter Updated Cluster Name: Test2
Record updated.

COVID 19 Database Query
1. List all tables
2. Show table records
3. Insert record(s)
4. Update record(s)
5. Delete record(s)
6. Show patients by Cluster
7. [Pro Mode] Enter SQL Command
0. Exit
Please enter option: 6

('26 year old male Singapore Citizen', 'Boulder+ Gym')
('28 year old male Singapore Citizen', 'Boulder+ Gym')
('27 year old female Singapore Citizen', 'Boulder+ Gym')
('34 year old male Singapore Citizen', 'Boulder+ Gym')
('35 year old female Filipino national', 'Boulder+ Gym')
('30 year old male Singapore Citizen', 'Boulder+ Gym')
('30 year old female Singapore Citizen', 'Boulder+ Gym')
('24 Year Old Male Singaporean', 'Boulder+ Gym')
('30 Year Old Male German', 'Boulder+ Gym')
('29 Year Old Male Singaporean', 'Boulder+ Gym')
('28 year old male Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('79 year old female Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('27 year old Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('25 year old male Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('38 year old female Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('35 year old female Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('30 year old female Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('58 year old female Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('26 year old male Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('51 year old male Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('58 year old female Singapore Citizen', 'Church of Singapore')
('26 year old female Singapore Citizen', 'Church of Singapore')
('29 year old male Singapore Citizen', 'Church of Singapore')
('31 year old female Singapore Citizen', 'Church of Singapore')
('62 Year Old Female Singaporean', 'Church of Singapore')
('34 year old male Singapore Citizen', 'Grace Assembly of God')
('46 year old male Singapore Citizen', 'Grace Assembly of God')
('48 year old male Singapore Citizen', 'Grace Assembly of God')
('54 year old male Singapore Citizen', 'Grace Assembly of God')
('55 year old female Singapore Citizen', 'Grace Assembly of God')
('26 year old male Singapore Citizen', 'Grace Assembly of God')
('55 year old male Singapore Citizen', 'Grace Assembly of God')
('51 year old female Singapore Citizen', 'Grace Assembly of God')
('57 year old male Singapore Citizen', 'Grace Assembly of God')
('44 year old female Singapore Citizen', 'Grace Assembly of God')
('54 year old female Singapore Citizen', 'Grace Assembly of God')
('28 year old male Singapore Citizen', 'Grace Assembly of God')
('56 year old female Singapore Citizen', 'Grace Assembly of God')
('43 year old male Singapore Citizen', 'Grace Assembly of God')
('29 year old male Singapore Citizen', 'Grace Assembly of God')
('57 year old female Singapore Citizen', 'Grace Assembly of God')
('50 year old male Singapore Citizen', 'Grace Assembly of God')
('27 year old male Singapore Citizen', 'Grand Hyatt Private Business Meeting')
('38 year old female Singapore Permanent Resident', 'Grand Hyatt Private Business Meeting')
('51 year old male Singapore citizen', 'Grand Hyatt Private Business Meeting')
('64 year old female Singapore Citizen', 'Jurong Safra')
('12 year old male Singapore Citizen', 'Jurong Safra')
('68 year old female Singapore Citizen', 'Jurong Safra')
('62 year old female Singapore Citizen', 'Jurong Safra')
('62 year old male Singapore Citizen', 'Jurong Safra')
('62 year old female Singapore Citizen', 'Jurong Safra')
('50 year old female Singapore Citizen', 'Jurong Safra')
('52 year old female Singapore Citizen', 'Jurong Safra')
('33 year old female Singapore Citizen', 'Jurong Safra')
('62 year old female Singapore Citizen', 'Jurong Safra')
('54 year old female Singapore Citizen', 'Jurong Safra')
('64 year old female Singapore Citizen', 'Jurong Safra')
('65 year old female Singapore Permanent Resident', 'Jurong Safra')
('64 year old female Singapore Citizen', 'Jurong Safra')
('70 year old male Singapore Citizen', 'Jurong Safra')
('68 year old female Singapore Citizen', 'Jurong Safra')
('66 year old male Singapore Citizen', 'Jurong Safra')
('66 year old male Singapore Citizen', 'Jurong Safra')
('62 year old female Indonesian national', 'Jurong Safra')
('56 year old female Singaporea Citizen', 'Jurong Safra')
('60 year old male Singapore Citizen', 'Jurong Safra')
('71 year old male Singapore Citizen', 'Jurong Safra')
('62 year old female Singapore Citizen', 'Jurong Safra')
('26 year old male Singapore Citizen', 'Jurong Safra')
('58 year old female Singapore Citizen', 'Jurong Safra')
('67 year old female Singapore Citizen', 'Jurong Safra')
('64 year old female Singapore Citizen', 'Jurong Safra')
('67 year old female Singaporean Citizen', 'Jurong Safra')
('62 year old male Singaporean Citizen', 'Jurong Safra')
('53 year old female Singaporean Permanent Resident', 'Jurong Safra')
('47 year old female Malaysian national who is a Singapore Work Pass holder', 'Jurong Safra')
('50 year old female Singapore Permanent Resident', 'Jurong Safra')
('54 year old female Singapore Permanent Resident', 'Jurong Safra')
('5 year old male Singapore Citizen', 'Jurong Safra')
('73 year old male Singapore Citizen', 'Jurong Safra')
('57 year old female Permanent Resident', 'Jurong Safra')
('55 year old female Singapore Citizen', 'Jurong Safra')
('67 year old female Singapore Citizen', 'Jurong Safra')
('66 year old female Singapore Citizen', 'Jurong Safra')
('64 year old male Singapore Citizen', 'Jurong Safra')
('73 year old female Singapore Citizen', 'Jurong Safra')
('55 year old female Singapore Citizen', 'Jurong Safra')
('50 year old male Singapore Citizen', 'Jurong Safra')
('64 year old female Singapore Citizen', 'Jurong Safra')
('59 year old female Singapore Citizen', 'Jurong Safra')
('29 year old male Singapore Citizen', 'Mass Religious Gathering in Malaysia')
('48 year old male Singapore Citizen', 'Mass Religious Gathering in Malaysia')
('36 year old male Indian national who is a Singapore Work Pass holder', 'Mass Religious Gathering in Malaysia')
('30 year old male Singapore Citizen', 'Mass Religious Gathering in Malaysia')
('44 year old male Singapore Citizen', 'Mass Religious Gathering in Malaysia')
('66 year old male Singapore Citizen', 'Mass Religious Gathering in Malaysia')
('58 Year Old Male Singaporean', 'Mass Religious Gathering in Malaysia')
('39 year old male Bangladesh national who is a Singapore Work Pass holder', 'Seletar Aerospace Heights Construction Site')
('39 year old Bangladesh national who is a Singapore Work Pass holder', 'Seletar Aerospace Heights Construction Site')
('37 year old male Bangladesh national', 'Seletar Aerospace Heights Construction Site')
('30 year old male Bangladesh national', 'Seletar Aerospace Heights Construction Site')
('26 year old Bangladesh national who is a Singapore Work Pass holder', 'Seletar Aerospace Heights Construction Site')
('56 year old female Chinese national from Wuhan', 'The Life Church and Missions Singapore')
('56 year old male Chinese national from Wuhan', 'The Life Church and Missions Singapore')
('53 year old male Singapore Citizen', 'The Life Church and Missions Singapore')
('39 year old female Singapore Citizen', 'The Life Church and Missions Singapore')
('52 year old female Singapore citizen', 'The Life Church and Missions Singapore')
('54 year old male Singapore Citizen', 'The Life Church and Missions Singapore')
('75 year old female Singapore Citizen', 'The Life Church and Missions Singapore')
('58 year old female Singapore Citizen', 'The Life Church and Missions Singapore')
('47 year old male Singapore Citizen', 'Wizlearn Technologies')
('44 year old male Singapore Citizen', 'Wizlearn Technologies')
('44 year old female Singapore Permanent Resident', 'Wizlearn Technologies')
('24 year old male Singapore Permanent Resident', 'Wizlearn Technologies')
('27 year old male Singapore Citizen', 'Wizlearn Technologies')
('20 year old male Malaysian national', 'Wizlearn Technologies')
('61 year old male Singapore Citizen', 'Wizlearn Technologies')
('41 year old female Filipino national', 'Wizlearn Technologies')
('37 year old female Singapore Citizen', 'Wizlearn Technologies')
('25 year old female Myanmar national', 'Wizlearn Technologies')
('49 year old male Singapore Citizen', 'Wizlearn Technologies')
('54 year old male Japanese national who is a Singapore Work Pass holder', 'Wizlearn Technologies')
('34 year old female Filipino national', 'Wizlearn Technologies')
('33 year old Singapore Citizen', 'Wizlearn Technologies')
('28 year old female Singapore resident', 'Yong Thai Hang')
('48 year old female Singapore resident', 'Yong Thai Hang')
('44 year old female Indonesian national', 'Yong Thai Hang')
('32 year old female Singapore Citizen', 'Yong Thai Hang')
('40 year old male Singapore Citizen', 'Yong Thai Hang')
('45 year old male Singapore Citizen', 'Yong Thai Hang')
('6 month old male Singapore Citizen', 'Yong Thai Hang')
('40 year old female Singapore Citizen', 'Yong Thai Hang')
('36 year old male Singapore citizen', 'Yong Thai Hang')

COVID 19 Database Query
1. List all tables
2. Show table records
3. Insert record(s)
4. Update record(s)
5. Delete record(s)
6. Show patients by Cluster
7. [Pro Mode] Enter SQL Command
0. Exit
Please enter option: 7

Enter SQL Command: SELECT * FROM Patient
(1, '66 year old Wuhan Man', 66, 'Male', 'Chinese', 'Recovered')
(2, '53 year old female Chinese national from Wuhan', 53, 'Female', 'Chinese', 'Recovered')
(3, '37 year old male Chinese national from Wuhan', 37, 'Male', 'Chinese', 'Recovered')
(4, '36 year old male Chinese national from Wuhan', 36, 'Male', 'Chinese', 'Recovered')
(5, '56 year old female Chinese national from Wuhan', 56, 'Female', 'Chinese', 'Recovered')
(6, '56 year old male Chinese national from Wuhan', 56, 'Male', 'Chinese', 'Recovered')
(7, '35 year old male Chinese national from Wuhan', 35, 'Male', 'Chinese', 'Recovered')
(8, '56 year old female Chinese national from Wuhan', 56, 'Female', 'Chinese', 'Recovered')
(9, '56 year old male Chinese national from Wuhan', 56, 'Male', 'Chinese', 'Recovered')
(10, '56 year old male Chinese national from Wuhan', 56, 'Male', 'Chinese', 'Recovered')
(11, '31 year old female Chinese national from Wuhan', 31, 'Female', 'Chinese', 'Recovered')
(12, '37 year old female Chinese national from Wuhan', 37, 'Female', 'Chinese', 'Recovered')
(13, '73 year old female Chinese national from Wuhan', 73, 'Female', 'Chinese', 'Recovered')
(14, '31 year old male Chinese national who is a Singapore Work Pass holder', 31, 'Male', 'Singaporean', 'Recovered')
(15, '47 year old female Singapore Citizen', 47, 'Female', 'Singaporean', 'Recovered')
(16, '38 year old male Chinese national', 38, 'Male', 'Chinese', 'Recovered')
(17, '47 year old female Singapore Citizen', 47, 'Female', 'Singaporean', 'Recovered')
(18, '31 year old female Chinese national', 31, 'Female', 'Chinese', 'Recovered')
(19, '28 year old female Singapore resident', 28, 'Female', 'Singaporean', 'Recovered')
(20, '48 year old female Singapore resident', 48, 'Female', 'Singaporean', 'Recovered')
(21, '44 year old female Indonesian national', 44, 'Female', 'Indonesian', 'Recovered')
(22, '41 year old male Singapore Citizen', 41, 'Male', 'Singaporean', 'Recovered')
(23, '17 year old male Singapore Citizen', 17, 'Male', 'Singaporean', 'Recovered')
(24, '32 year old female Singapore Citizen', 32, 'Female', 'Singaporean', 'Recovered')
(25, '40 year old male Singapore Citizen', 40, 'Male', 'Singaporean', 'Recovered')
(26, '42 year old female Chinese national', 42, 'Female', 'Chinese', 'Recovered')
(27, '45 year old male Singapore Citizen', 45, 'Male', 'Singaporean', 'Recovered')
(28, '6 month old male Singapore Citizen', 1, 'Male', 'Singaporean', 'Recovered')
(29, '41 year old male Singapore Citizen', 41, 'Male', 'Singaporean', 'Recovered')
(30, '27 year old male Singapore Citizen', 27, 'Male', 'Singaporean', 'Recovered')
(31, '53 year old male Singapore Citizen', 53, 'Male', 'Singaporean', 'Recovered')
(32, '42 year old female Singapore Citizen', 42, 'Female', 'Singaporean', 'Recovered')
(33, '39 year old female Singapore Citizen', 39, 'Female', 'Singaporean', 'Recovered')
(34, '40 year old female Singapore Citizen', 40, 'Female', 'Singaporean', 'Recovered')
(35, '64 year old male Singapore Citizen', 64, 'Male', 'Singaporean', 'In hospital')
(36, '38 year old female Singapore Permanent Resident', 38, 'Female', 'Singaporean', 'Recovered')
(37, '53 year old male Singapore citizen', 53, 'Male', 'Singaporean', 'Recovered')
(38, '52 year old female Singapore citizen', 52, 'Female', 'Singaporean', 'Recovered')
(39, '51 year old male Singapore citizen', 51, 'Male', 'Singaporean', 'Recovered')
(40, '36 year old male Singapore citizen', 36, 'Male', 'Singaporean', 'Recovered')
(41, '71 year old male Singapore citizen', 71, 'Male', 'Singaporean', 'In hospital')
(42, '39 year old male Bangladesh national who is a Singapore Work Pass holder', 39, 'Male', 'Bangladeshi', 'In hospital')
(43, '54 year old male Singapore Citizen', 54, 'Male', 'Singaporean', 'Recovered')
(44, '37 year old male Singapore Citizen', 37, 'Male', 'Singaporean', 'Recovered')
(45, '2 year old female Singapore Citizen', 2, 'Female', 'Singaporean', 'Recovered')
(46, '35 year old male Singapore PR', 35, 'Male', 'Singaporean', 'Recovered')
(47, '39 year old Bangladesh national who is a Singapore Work Pass holder', 39, 'Male', 'Bangladeshi', 'Recovered')
(48, '34 year old male Singapore Citizen', 34, 'Male', 'Singaporean', 'Recovered')
(49, '46 year old male Singapore Citizen', 46, 'Male', 'Singaporean', 'Recovered')
(50, '62 year old male Singapore Citizen', 62, 'Male', 'Singaporean', 'Recovered')
(51, '48 year old male Singapore Citizen', 48, 'Male', 'Singaporean', 'Recovered')
(52, '37 year old male Bangladesh national', 37, 'Male', 'Bangladeshi', 'Recovered')
(53, '54 year old male Singapore Citizen', 54, 'Male', 'Singaporean', 'Recovered')
(54, '55 year old female Singapore Citizen', 55, 'Female', 'Singaporean', 'Recovered')
(55, '30 year old male Singapore Citizen', 30, 'Male', 'Singaporean', 'Recovered')
(56, '30 year old male Bangladesh national', 30, 'Male', 'Bangladeshi', 'Recovered')
(57, '26 year old male Singapore Citizen', 26, 'Male', 'Singaporean', 'Recovered')
(58, '55 year old male Singapore Citizen', 55, 'Male', 'Singaporean', 'Recovered')
(59, '61 year old male Singapore Citizen', 61, 'Male', 'Singaporean', 'Recovered')
(60, '51 year old female Singapore Citizen', 51, 'Female', 'Singaporean', 'Recovered')
(61, '57 year old male Singapore Citizen', 57, 'Male', 'Singaporean', 'Recovered')
(62, '44 year old female Singapore Citizen', 44, 'Female', 'Singaporean', 'Recovered')
(63, '54 year old female Singapore Citizen', 54, 'Female', 'Singaporean', 'Recovered')
(64, '50 year old male Singapore Citizen', 50, 'Male', 'Singaporean', 'Recovered')
(65, '61 year old female Singapore Citizen', 61, 'Female', 'Singaporean', 'Recovered')
(66, '28 year old male Singapore Citizen', 28, 'Male', 'Singaporean', 'Recovered')
(67, '56 year old female Singapore Citizen', 56, 'Female', 'Singaporean', 'Recovered')
(68, '79 year old female Singapore Citizen', 79, 'Female', 'Singaporean', 'Recovered')
(69, '26 year old Bangladesh national who is a Singapore Work Pass holder', 26, 'Male', 'Bangladeshi', 'Recovered')
(70, '27 year old Singapore Citizen', 27, 'Female', 'Singaporean', 'Recovered')
(71, '25 year old male Singapore Citizen', 25, 'Male', 'Singaporean', 'Recovered')
(72, '40 year old male Chinese national who is a Singapore Work Pass holder', 40, 'Male', 'Chinese', 'Recovered')
(73, '43 year old male Singapore Citizen', 43, 'Male', 'Singaporean', 'Recovered')
(74, '29 year old male Singapore Citizen', 29, 'Male', 'Singaporean', 'Recovered')
(75, '71 year old female Singapore Citizen', 71, 'Female', 'Singaporean', 'Recovered')
(76, '1 year old male Singapore Citizen', 1, 'Male', 'Singaporean', 'Recovered')
(77, '35 year old male Singapore Citizen', 35, 'Male', 'Singaporean', 'Recovered')
(78, '57 year old female Singapore Citizen', 57, 'Female', 'Singaporean', 'Recovered')
(79, '35 year old female Malaysian national', 35, 'Female', 'Malaysian', 'Recovered')
(80, '38 year old female Singapore Citizen', 38, 'Female', 'Singaporean', 'Recovered')
(81, '50 year old male Singapore Citizen', 50, 'Male', 'Singaporean', 'Recovered')
(82, '57 year old female Singapore Citizen', 57, 'Female', 'Singaporean', 'In hospital')
(83, '54 year old male Singapore Citizen', 54, 'Male', 'Singaporean', 'Recovered')
(84, '35 year old female Singapore Citizen', 35, 'Female', 'Singaporean', 'Recovered')
(85, '36 year old male Chinese national who is a Singapore Work Pass holder', 36, 'Male', 'Chinese', 'Recovered')
(86, '24 year old male Singapore Citizen', 24, 'Male', 'Singaporean', 'Recovered')
(87, '32 year old male Singapore Citizen', 32, 'Male', 'Singaporean', 'Recovered')
(88, '30 year old female Singapore Citizen', 30, 'Female', 'Singaporean', 'Recovered')
(89, '41 year old male Singapore Permanent Resident', 41, 'Male', 'Singaporean', 'Recovered')
(90, '75 year old female Singapore Citizen', 75, 'Female', 'Singaporean', 'In hospital')
(91, '58 year old female Singapore Citizen', 58, 'Female', 'Singaporean', 'Recovered')
(92, '47 year old male Singapore Citizen', 47, 'Male', 'Singaporean', 'Recovered')
(93, '47 year old male Singapore Citizen', 38, 'Male', 'Singaporean', 'Recovered')
(94, '64 year old female Singapore Citizen', 64, 'Female', 'Singaporean', 'In hospital')
(95, '44 year old male Singapore Citizen', 44, 'Male', 'Singaporean', 'Recovered')
(96, '12 year old male Singapore Citizen', 12, 'Male', 'Singaporean', 'Recovered')
(97, '44 year old female Singapore Permanent Resident', 44, 'Female', 'Singaporean', 'Recovered')
(98, '24 year old male Singapore Permanent Resident', 24, 'Male', 'Singaporean', 'Recovered')
(99, '27 year old male Singapore Citizen', 27, 'Male', 'Singaporean', 'Recovered')
(100, '20 year old male Malaysian national', 20, 'Male', 'Malaysian', 'Recovered')
(101, '61 year old male Singapore Citizen', 61, 'Male', 'Singaporean', 'Recovered')
(102, '41 year old female Filipino national', 41, 'Female', 'Filipino', 'Recovered')
(103, '37 year old female Singapore Citizen', 37, 'Female', 'Singaporean', 'Recovered')
(104, '25 year old female Myanmar national', 25, 'Female', 'Myanmarian', 'Recovered')
(105, '49 year old male Singapore Citizen', 49, 'Male', 'Singaporean', 'Recovered')
(106, '54 year old male Japanese national who is a Singapore Work Pass holder', 54, 'Male', 'Japanese', 'Recovered')
(107, '68 year old female Singapore Citizen', 68, 'Female', 'Singaporean', 'Recovered')
(108, '34 year old female Filipino national', 34, 'Female', 'Filipino', 'In hospital')
(109, '70 year old Singapore Citizen', 70, 'Male', 'Singaporean', 'In hospital')
(110, '33 year old Singapore Citizen', 33, 'Male', 'Singaporean', 'Recovered')
(111, '43 year old male Singapore Permanent Resident', 43, 'Male', 'Singaporean', 'Recovered')
(112, '62 year old female Singapore Citizen', 62, 'Female', 'Singaporean', 'Recovered')
(113, '42 year old male French national who is a Singapore Work Pass holder', 42, 'Male', 'French', 'In hospital')
(114, '62 year old male Singapore Citizen', 62, 'Male', 'Singaporean', 'Recovered')
(115, '62 year old female Singapore Citizen', 62, 'Female', 'Singaporean', 'Recovered')
(116, '50 year old female Singapore Citizen', 50, 'Female', 'Singaporean', 'Recovered')
(117, '52 year old female Singapore Citizen', 52, 'Female', 'Singaporean', 'In hospital')

## Some interesting aggregate functions

In [ ]:
import sqlite3

# create database connection
connection = sqlite3.connect('covid.db')

# create cursor
cursor = connection.cursor()


# Counting how many patients are not in any particular cluster, i.e. unlinked cases
cursor.execute("SELECT COUNT(*) From Patient WHERE CASEID Not IN (SELECT CASEID From ClusterPatient )")

results = cursor.fetchall()

print("Number of unlinked cases: ")
for record in results:
    print(record[0])



# Count number of patients from various nationality
cursor.execute("SELECT Nationality, COUNT(Nationality) From Patient GROUP BY Nationality ORDER BY COUNT(Nationality) DESC")

results = cursor.fetchall()

print("\nComposition of Patients by Nationality: ")
for record in results:
    print(record[0] + ": " + str(record[1]))

# Clusters with largest number of patients
cursor.execute("SELECT Cluster.Cluster, COUNT(ClusterPatient.ClusterID) From ClusterPatient \
INNER JOIN Cluster ON ClusterPatient.ClusterID = Cluster.ClusterID \
GROUP BY ClusterPatient.ClusterID \
ORDER BY COUNT(ClusterPatient.ClusterID) DESC \
LIMIT 3")

results = cursor.fetchall()

print("\nTop 3 largest clusters: ")
for record in results:
    print(record[0] + ": " + str(record[1]) + " infections.")

# destroy database connection (and cursor)
connection.close()

Number of unlinked cases:
380

Composition of Patients by Nationality:
Singaporean: 373
Chinese: 20
Indonesian: 19
Filipino: 13
British: 11
Malaysian: 10
Australian: 9
American: 7
German: 6
Indian: 6
Bangladeshi: 5
French: 5
Dutch: 3
Swiss: 3
Irish: 2
Myanmarian: 2
New zealander: 2
Spanish: 2
Swedish: 2
Belgian: 1
Brazilian: 1
Canadian: 1
Colombian: 1
Danish: 1
Italian: 1
Japanese: 1
Russian: 1
Thai: 1

Top 3 largest clusters:
Jurong Safra: 45 infections.
Grace Assembly of God: 17 infections.
Wizlearn Technologies: 14 infections.

**Additional CRUD commands**

In [ ]:
# query for patients in each cluster, ordered by cluster
results1 = cursor.execute("""
    SELECT p.Patient, c.Cluster
    FROM Patient AS p 
    INNER JOIN ClusterPatient AS cp ON p.CaseID = cp.CaseID 
    INNER JOIN Cluster AS c ON cp.ClusterID = c.ClusterID
    ORDER BY c.Cluster;""")
for record in results1:
    print(record)
print()

# query for Singaporean patients
results2 = cursor.execute("SELECT * from Patient WHERE Nationality = 'Singaporean';")
#results = cursor.fetchall()
for record in results2:
    print(record)
print()

# determine the average age of patients
results3 = cursor.execute("SELECT AVG(Age) from Patient;")
for record in results3:
    print(record)
print()

#updating patient status to recovered
cursor.execute("UPDATE Patient SET Status = 'Recovered' WHERE CaseID = '507';") 
connection.commit()

#delete a case from the database
cursor.execute("DELETE FROM Patient WHERE CaseID = '506';")
connection.commit()
cursor.execute("SELECT * FROM Patient;")
results = cursor.fetchall()
for record in results:
    print(record)
print()

# make changes permanent
connection.commit()



# destroy database connection (and cursor)
connection.close()

('26 year old male Singapore Citizen', 'Boulder+ Gym')
('28 year old male Singapore Citizen', 'Boulder+ Gym')
('27 year old female Singapore Citizen', 'Boulder+ Gym')
('34 year old male Singapore Citizen', 'Boulder+ Gym')
('35 year old female Filipino national', 'Boulder+ Gym')
('30 year old male Singapore Citizen', 'Boulder+ Gym')
('30 year old female Singapore Citizen', 'Boulder+ Gym')
('24 Year Old Male Singaporean', 'Boulder+ Gym')
('30 Year Old Male German', 'Boulder+ Gym')
('29 Year Old Male Singaporean', 'Boulder+ Gym')
('28 year old male Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('79 year old female Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('27 year old Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('25 year old male Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('38 year old female Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('35 year old female Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('30 year old female Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('58 year old female Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('26 year old male Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('51 year old male Singapore Citizen', 'CNY Family Gathering at Mei Hwan Dr')
('58 year old female Singapore Citizen', 'Church of Singapore')
('26 year old female Singapore Citizen', 'Church of Singapore')
('29 year old male Singapore Citizen', 'Church of Singapore')
('31 year old female Singapore Citizen', 'Church of Singapore')
('62 Year Old Female Singaporean', 'Church of Singapore')
('34 year old male Singapore Citizen', 'Grace Assembly of God')
('46 year old male Singapore Citizen', 'Grace Assembly of God')
('48 year old male Singapore Citizen', 'Grace Assembly of God')
('54 year old male Singapore Citizen', 'Grace Assembly of God')
('55 year old female Singapore Citizen', 'Grace Assembly of God')
('26 year old male Singapore Citizen', 'Grace Assembly of God')
('55 year old male Singapore Citizen', 'Grace Assembly of God')
('51 year old female Singapore Citizen', 'Grace Assembly of God')
('57 year old male Singapore Citizen', 'Grace Assembly of God')
('44 year old female Singapore Citizen', 'Grace Assembly of God')
('54 year old female Singapore Citizen', 'Grace Assembly of God')
('28 year old male Singapore Citizen', 'Grace Assembly of God')
('56 year old female Singapore Citizen', 'Grace Assembly of God')
('43 year old male Singapore Citizen', 'Grace Assembly of God')
('29 year old male Singapore Citizen', 'Grace Assembly of God')
('57 year old female Singapore Citizen', 'Grace Assembly of God')
('50 year old male Singapore Citizen', 'Grace Assembly of God')
('27 year old male Singapore Citizen', 'Grand Hyatt Private Business Meeting')
('38 year old female Singapore Permanent Resident', 'Grand Hyatt Private Business Meeting')
('51 year old male Singapore citizen', 'Grand Hyatt Private Business Meeting')
('64 year old female Singapore Citizen', 'Jurong Safra')
('12 year old male Singapore Citizen', 'Jurong Safra')
('68 year old female Singapore Citizen', 'Jurong Safra')
('62 year old female Singapore Citizen', 'Jurong Safra')
('62 year old male Singapore Citizen', 'Jurong Safra')
('62 year old female Singapore Citizen', 'Jurong Safra')
('50 year old female Singapore Citizen', 'Jurong Safra')
('52 year old female Singapore Citizen', 'Jurong Safra')
('33 year old female Singapore Citizen', 'Jurong Safra')
('62 year old female Singapore Citizen', 'Jurong Safra')
('54 year old female Singapore Citizen', 'Jurong Safra')
('64 year old female Singapore Citizen', 'Jurong Safra')
('65 year old female Singapore Permanent Resident', 'Jurong Safra')
('64 year old female Singapore Citizen', 'Jurong Safra')
('70 year old male Singapore Citizen', 'Jurong Safra')
('68 year old female Singapore Citizen', 'Jurong Safra')
('66 year old male Singapore Citizen', 'Jurong Safra')
('66 year old male Singapore Citizen', 'Jurong Safra')
('62 year old female Indonesian national', 'Jurong Safra')
('56 year old female Singaporea Citizen', 'Jurong Safra')
('60 year old male Singapore Citizen', 'Jurong Safra')
('71 year old male Singapore Citizen', 'Jurong Safra')
('62 year old female Singapore Citizen', 'Jurong Safra')
('26 year old male Singapore Citizen', 'Jurong Safra')
('58 year old female Singapore Citizen', 'Jurong Safra')
('67 year old female Singapore Citizen', 'Jurong Safra')
('64 year old female Singapore Citizen', 'Jurong Safra')
('67 year old female Singaporean Citizen', 'Jurong Safra')
('62 year old male Singaporean Citizen', 'Jurong Safra')
('53 year old female Singaporean Permanent Resident', 'Jurong Safra')
('47 year old female Malaysian national who is a Singapore Work Pass holder', 'Jurong Safra')
('50 year old female Singapore Permanent Resident', 'Jurong Safra')
('54 year old female Singapore Permanent Resident', 'Jurong Safra')
('5 year old male Singapore Citizen', 'Jurong Safra')
('73 year old male Singapore Citizen', 'Jurong Safra')
('57 year old female Permanent Resident', 'Jurong Safra')
('55 year old female Singapore Citizen', 'Jurong Safra')
('67 year old female Singapore Citizen', 'Jurong Safra')
('66 year old female Singapore Citizen', 'Jurong Safra')
('64 year old male Singapore Citizen', 'Jurong Safra')
('73 year old female Singapore Citizen', 'Jurong Safra')
('55 year old female Singapore Citizen', 'Jurong Safra')
('50 year old male Singapore Citizen', 'Jurong Safra')
('64 year old female Singapore Citizen', 'Jurong Safra')
('59 year old female Singapore Citizen', 'Jurong Safra')
('29 year old male Singapore Citizen', 'Mass Religious Gathering in Malaysia')
('48 year old male Singapore Citizen', 'Mass Religious Gathering in Malaysia')
('36 year old male Indian national who is a Singapore Work Pass holder', 'Mass Religious Gathering in Malaysia')
('30 year old male Singapore Citizen', 'Mass Religious Gathering in Malaysia')
('44 year old male Singapore Citizen', 'Mass Religious Gathering in Malaysia')
('66 year old male Singapore Citizen', 'Mass Religious Gathering in Malaysia')
('58 Year Old Male Singaporean', 'Mass Religious Gathering in Malaysia')
('39 year old male Bangladesh national who is a Singapore Work Pass holder', 'Seletar Aerospace Heights Construction Site')
('39 year old Bangladesh national who is a Singapore Work Pass holder', 'Seletar Aerospace Heights Construction Site')
('37 year old male Bangladesh national', 'Seletar Aerospace Heights Construction Site')
('30 year old male Bangladesh national', 'Seletar Aerospace Heights Construction Site')
('26 year old Bangladesh national who is a Singapore Work Pass holder', 'Seletar Aerospace Heights Construction Site')
('56 year old female Chinese national from Wuhan', 'The Life Church and Missions Singapore')
('56 year old male Chinese national from Wuhan', 'The Life Church and Missions Singapore')
('53 year old male Singapore Citizen', 'The Life Church and Missions Singapore')
('39 year old female Singapore Citizen', 'The Life Church and Missions Singapore')
('52 year old female Singapore citizen', 'The Life Church and Missions Singapore')
('54 year old male Singapore Citizen', 'The Life Church and Missions Singapore')
('75 year old female Singapore Citizen', 'The Life Church and Missions Singapore')
('58 year old female Singapore Citizen', 'The Life Church and Missions Singapore')
('47 year old male Singapore Citizen', 'Wizlearn Technologies')
('44 year old male Singapore Citizen', 'Wizlearn Technologies')
('44 year old female Singapore Permanent Resident', 'Wizlearn Technologies')
('24 year old male Singapore Permanent Resident', 'Wizlearn Technologies')
('27 year old male Singapore Citizen', 'Wizlearn Technologies')
('20 year old male Malaysian national', 'Wizlearn Technologies')
('61 year old male Singapore Citizen', 'Wizlearn Technologies')
('41 year old female Filipino national', 'Wizlearn Technologies')
('37 year old female Singapore Citizen', 'Wizlearn Technologies')
('25 year old female Myanmar national', 'Wizlearn Technologies')
('49 year old male Singapore Citizen', 'Wizlearn Technologies')
('54 year old male Japanese national who is a Singapore Work Pass holder', 'Wizlearn Technologies')
('34 year old female Filipino national', 'Wizlearn Technologies')
('33 year old Singapore Citizen', 'Wizlearn Technologies')
('28 year old female Singapore resident', 'Yong Thai Hang')
('48 year old female Singapore resident', 'Yong Thai Hang')
('44 year old female Indonesian national', 'Yong Thai Hang')
('32 year old female Singapore Citizen', 'Yong Thai Hang')
('40 year old male Singapore Citizen', 'Yong Thai Hang')
('45 year old male Singapore Citizen', 'Yong Thai Hang')
('6 month old male Singapore Citizen', 'Yong Thai Hang')
('40 year old female Singapore Citizen', 'Yong Thai Hang')
('36 year old male Singapore citizen', 'Yong Thai Hang')

(14, '31 year old male Chinese national who is a Singapore Work Pass holder', 31, 'Male', 'Singaporean', 'Recovered')
(15, '47 year old female Singapore Citizen', 47, 'Female', 'Singaporean', 'Recovered')
(17, '47 year old female Singapore Citizen', 47, 'Female', 'Singaporean', 'Recovered')
(19, '28 year old female Singapore resident', 28, 'Female', 'Singaporean', 'Recovered')
(20, '48 year old female Singapore resident', 48, 'Female', 'Singaporean', 'Recovered')
(22, '41 year old male Singapore Citizen', 41, 'Male', 'Singaporean', 'Recovered')
(23, '17 year old male Singapore Citizen', 17, 'Male', 'Singaporean', 'Recovered')
(24, '32 year old female Singapore Citizen', 32, 'Female', 'Singaporean', 'Recovered')
(25, '40 year old male Singapore Citizen', 40, 'Male', 'Singaporean', 'Recovered')
(27, '45 year old male Singapore Citizen', 45, 'Male', 'Singaporean', 'Recovered')
(28, '6 month old male Singapore Citizen', 1, 'Male', 'Singaporean', 'Recovered')
(29, '41 year old male Singapore Citizen', 41, 'Male', 'Singaporean', 'Recovered')
(30, '27 year old male Singapore Citizen', 27, 'Male', 'Singaporean', 'Recovered')
(31, '53 year old male Singapore Citizen', 53, 'Male', 'Singaporean', 'Recovered')
(32, '42 year old female Singapore Citizen', 42, 'Female', 'Singaporean', 'Recovered')
(33, '39 year old female Singapore Citizen', 39, 'Female', 'Singaporean', 'Recovered')
(34, '40 year old female Singapore Citizen', 40, 'Female', 'Singaporean', 'Recovered')
(35, '64 year old male Singapore Citizen', 64, 'Male', 'Singaporean', 'In hospital')
(36, '38 year old female Singapore Permanent Resident', 38, 'Female', 'Singaporean', 'Recovered')
(37, '53 year old male Singapore citizen', 53, 'Male', 'Singaporean', 'Recovered')
(38, '52 year old female Singapore citizen', 52, 'Female', 'Singaporean', 'Recovered')
(39, '51 year old male Singapore citizen', 51, 'Male', 'Singaporean', 'Recovered')
(40, '36 year old male Singapore citizen', 36, 'Male', 'Singaporean', 'Recovered')
(41, '71 year old male Singapore citizen', 71, 'Male', 'Singaporean', 'In hospital')
(43, '54 year old male Singapore Citizen', 54, 'Male', 'Singaporean', 'Recovered')
(44, '37 year old male Singapore Citizen', 37, 'Male', 'Singaporean', 'Recovered')
(45, '2 year old female Singapore Citizen', 2, 'Female', 'Singaporean', 'Recovered')
(46, '35 year old male Singapore PR', 35, 'Male', 'Singaporean', 'Recovered')
(48, '34 year old male Singapore Citizen', 34, 'Male', 'Singaporean', 'Recovered')
(49, '46 year old male Singapore Citizen', 46, 'Male', 'Singaporean', 'Recovered')
(50, '62 year old male Singapore Citizen', 62, 'Male', 'Singaporean', 'Recovered')
(51, '48 year old male Singapore Citizen', 48, 'Male', 'Singaporean', 'Recovered')
(53, '54 year old male Singapore Citizen', 54, 'Male', 'Singaporean', 'Recovered')
(54, '55 year old female Singapore Citizen', 55, 'Female', 'Singaporean', 'Recovered')
(55, '30 year old male Singapore Citizen', 30, 'Male', 'Singaporean', 'Recovered')
(57, '26 year old male Singapore Citizen', 26, 'Male', 'Singaporean', 'Recovered')
(58, '55 year old male Singapore Citizen', 55, 'Male', 'Singaporean', 'Recovered')
(59, '61 year old male Singapore Citizen', 61, 'Male', 'Singaporean', 'Recovered')
(60, '51 year old female Singapore Citizen', 51, 'Female', 'Singaporean', 'Recovered')
(61, '57 year old male Singapore Citizen', 57, 'Male', 'Singaporean', 'Recovered')
(62, '44 year old female Singapore Citizen', 44, 'Female', 'Singaporean', 'Recovered')
(63, '54 year old female Singapore Citizen', 54, 'Female', 'Singaporean', 'Recovered')
(64, '50 year old male Singapore Citizen', 50, 'Male', 'Singaporean', 'Recovered')
(65, '61 year old female Singapore Citizen', 61, 'Female', 'Singaporean', 'Recovered')
(66, '28 year old male Singapore Citizen', 28, 'Male', 'Singaporean', 'Recovered')
(67, '56 year old female Singapore Citizen', 56, 'Female', 'Singaporean', 'Recovered')
(68, '79 year old female Singapore Citizen', 79, 'Female', 'Singaporean', 'Recovered')
(70, '27 year old Singapore Citizen', 27, 'Female', 'Singaporean', 'Recovered')
(71, '25 year old male Singapore Citizen', 25, 'Male', 'Singaporean', 'Recovered')
(73, '43 year old male Singapore Citizen', 43, 'Male', 'Singaporean', 'Recovered')
(74, '29 year old male Singapore Citizen', 29, 'Male', 'Singaporean', 'Recovered')
(75, '71 year old female Singapore Citizen', 71, 'Female', 'Singaporean', 'Recovered')
(76, '1 year old male Singapore Citizen', 1, 'Male', 'Singaporean', 'Recovered')
(77, '35 year old male Singapore Citizen', 35, 'Male', 'Singaporean', 'Recovered')
(78, '57 year old female Singapore Citizen', 57, 'Female', 'Singaporean', 'Recovered')
(80, '38 year old female Singapore Citizen', 38, 'Female', 'Singaporean', 'Recovered')
(81, '50 year old male Singapore Citizen', 50, 'Male', 'Singaporean', 'Recovered')
(82, '57 year old female Singapore Citizen', 57, 'Female', 'Singaporean', 'In hospital')
(83, '54 year old male Singapore Citizen', 54, 'Male', 'Singaporean', 'Recovered')
(84, '35 year old female Singapore Citizen', 35, 'Female', 'Singaporean', 'Recovered')
(86, '24 year old male Singapore Citizen', 24, 'Male', 'Singaporean', 'Recovered')
(87, '32 year old male Singapore Citizen', 32, 'Male', 'Singaporean', 'Recovered')
(88, '30 year old female Singapore Citizen', 30, 'Female', 'Singaporean', 'Recovered')
(89, '41 year old male Singapore Permanent Resident', 41, 'Male', 'Singaporean', 'Recovered')
(90, '75 year old female Singapore Citizen', 75, 'Female', 'Singaporean', 'In hospital')
(91, '58 year old female Singapore Citizen', 58, 'Female', 'Singaporean', 'Recovered')
(92, '47 year old male Singapore Citizen', 47, 'Male', 'Singaporean', 'Recovered')
(93, '47 year old male Singapore Citizen', 38, 'Male', 'Singaporean', 'Recovered')
(94, '64 year old female Singapore Citizen', 64, 'Female', 'Singaporean', 'In hospital')
(95, '44 year old male Singapore Citizen', 44, 'Male', 'Singaporean', 'Recovered')
(96, '12 year old male Singapore Citizen', 12, 'Male', 'Singaporean', 'Recovered')
(97, '44 year old female Singapore Permanent Resident', 44, 'Female', 'Singaporean', 'Recovered')
(98, '24 year old male Singapore Permanent Resident', 24, 'Male', 'Singaporean', 'Recovered')
(99, '27 year old male Singapore Citizen', 27, 'Male', 'Singaporean', 'Recovered')
(101, '61 year old male Singapore Citizen', 61, 'Male', 'Singaporean', 'Recovered')
(103, '37 year old female Singapore Citizen', 37, 'Female', 'Singaporean', 'Recovered')
(105, '49 year old male Singapore Citizen', 49, 'Male', 'Singaporean', 'Recovered')
(107, '68 year old female Singapore Citizen', 68, 'Female', 'Singaporean', 'Recovered')
(109, '70 year old Singapore Citizen', 70, 'Male', 'Singaporean', 'In hospital')
(110, '33 year old Singapore Citizen', 33, 'Male', 'Singaporean', 'Recovered')
(111, '43 year old male Singapore Permanent Resident', 43, 'Male', 'Singaporean', 'Recovered')
(112, '62 year old female Singapore Citizen', 62, 'Female', 'Singaporean', 'Recovered')
(114, '62 year old male Singapore Citizen', 62, 'Male', 'Singaporean', 'Recovered')
(115, '62 year old female Singapore Citizen', 62, 'Female', 'Singaporean', 'Recovered')
(116, '50 year old female Singapore Citizen', 50, 'Female', 'Singaporean', 'Recovered')
(117, '52 year old female Singapore Citizen', 52, 'Female', 'Singaporean', 'In hospital')
(118, '33 year old female Singapore Citizen', 33, 'Female', 'Singaporean', 'Recovered')
(119, '55 year old male Singapore Citizen', 55, 'Male', 'Singaporean', 'Recovered')
(120, '62 year old female Singapore Citizen', 62, 'Female', 'Singaporean', 'In hospital')
(121, '54 year old female Singapore Citizen', 54, 'Female', 'Singaporean', 'Recovered')
(122, '64 year old female Singapore Citizen', 64, 'Female', 'Singaporean', 'Recovered')
(123, '47 year old male Singapore Citizen', 47, 'Male', 'Singaporean', 'Recovered')
(124, '37 year old female Singapore Permanent Resident', 37, 'Female', 'Singaporean', 'In hospital')
(125, '65 year old female Singapore Permanent Resident', 65, 'Female', 'Singaporean', 'Recovered')
(126, '77 year old male Singapore Citizen', 77, 'Male', 'Singaporean', 'In hospital')
(127, '64 year old female Singapore Citizen', 64, 'Female', 'Singaporean', 'In hospital')
(128, '70 year old male Singapore Citizen', 70, 'Male', 'Singaporean', 'In hospital')
(129, '68 year old female Singapore Citizen', 68, 'Female', 'Singaporean', 'In hospital')
(130, '66 year old male Singapore Citizen', 66, 'Male', 'Singaporean', 'In hospital')
(131, '66 year old male Singapore Citizen', 66, 'Male', 'Singaporean', 'Recovered')
(132, '37 year old female Singapore Permanent Resident', 37, 'Female', 'Singaporean', 'Recovered')
(134, '56 year old female Singaporea Citizen', 56, 'Female', 'Singaporean', 'Recovered')
(135, '40 year old male Singaporea Citizen', 40, 'Male', 'Singaporean', 'Recovered')
(137, '60 year old male Singapore Citizen', 60, 'Male', 'Singaporean', 'Recovered')
(138, '26 year old male Singapore Citizen', 26, 'Male', 'Singaporean', 'Recovered')
(139, '71 year old male Singapore Citizen', 71, 'Male', 'Singaporean', 'In hospital')
(140, '62 year old female Singapore Citizen', 62, 'Female', 'Singaporean', 'In hospital')
(141, '69 year old male Singapore Citizen', 69, 'Male', 'Singaporean', 'In hospital')
(142, '26 year old male Singapore Citizen', 26, 'Male', 'Singaporean', 'In hospital')
(143, '42 year old male Singapore Citizen', 42, 'Male', 'Singaporean', 'Recovered')
(144, '58 year old female Singapore Citizen', 58, 'Female', 'Singaporean', 'Recovered')
(145, '67 year old female Singapore Citizen', 67, 'Female', 'Singaporean', 'In hospital')
(146, '64 year old female Singapore Citizen', 64, 'Female', 'Singaporean', 'Recovered')
(148, '67 year old female Singaporean Citizen', 67, 'Female', 'Singaporean', 'Recovered')
(149, '62 year old male Singaporean Citizen', 62, 'Male', 'Singaporean', 'Recovered')
(150, '53 year old female Singaporean Permanent Resident', 53, 'Female', 'Singaporean', 'Recovered')
(151, '51 year old male Singapore Citizen', 51, 'Male', 'Singaporean', 'Recovered')
(153, '65 year old female Singapore Citizen', 65, 'Female', 'Singaporean', 'In hospital')
(156, '50 year old female Singapore Permanent Resident', 50, 'Female', 'Singaporean', 'In hospital')
(157, '54 year old female Singapore Permanent Resident', 54, 'Female', 'Singaporean', 'In hospital')
(158, '53 year old female Singapore Citizen', 53, 'Female', 'Singaporean', 'In hospital')
(159, '59 year old male Singapore Citizen', 59, 'Male', 'Singaporean', 'In hospital')
(160, '5 year old male Singapore Citizen', 5, 'Male', 'Singaporean', 'Recovered')
(161, '73 year old male Singapore Citizen', 73, 'Male', 'Singaporean', 'In hospital')
(162, '28 year old male Singapore Citizen', 28, 'Male', 'Singaporean', 'In hospital')
(163, '27 year old female Singapore Citizen', 27, 'Female', 'Singaporean', 'In hospital')
(164, '57 year old female Permanent Resident', 57, 'Female', 'Singaporean', 'In hospital')
(165, '30 year old male Singapore Citizen', 30, 'Male', 'Singaporean', 'In hospital')

# Sample SQL queries:
```
# create table 
cursor.execute("CREATE TABLE contacts (rid INTEGER, name TEXT, dob TEXT, email TEXT, mobile TEXT);")
 
# insert
cursor.execute("INSERT INTO contacts (rid, name, dob, email, mobile) VALUES (1, 'Lim Ah Seng', '1995-01-01', 'limahseng@hotmail.com', '12345678');")


# select
cursor.execute("SELECT * FROM contacts;")

# update
cursor.execute("UPDATE contacts SET mobile = '88888888' WHERE rid = 1;")

# delete
cursor.execute("DELETE FROM contacts WHERE rid = 2;")
```

# Alternative Method: Using an Object Relational Mapper

SQLAlchemy is a library that facilitates the communication between Python programs and databases. Most of the times, this library is used as an Object Relational Mapper (ORM) tool that translates Python classes to tables on relational databases and automatically converts function calls to SQL statements. SQLAlchemy provides a standard interface that allows developers to create database-agnostic code to communicate with a wide variety of database engines.

In [ ]:
from sqlalchemy import Table, Column, String, Integer, MetaData, create_engine, ForeignKey

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

engine = create_engine('sqlite:///orm-covid.db')
Session = sessionmaker(bind=engine)

Base = declarative_base()

class Patient(Base):
    __tablename__ = 'patient'

    id = Column(Integer, primary_key = True)
    patient = Column(String(80))
    age = Column(Integer)
    gender = Column(String(10))
    nationality = Column(String(40))
    status = Column(String(40))

    def __init__(self, id, patient, age, gender, nationality, status):
        self.id = id
        self.patient = patient
        self.age = age
        self.gender = gender
        self.nationality = nationality
        self.status = status


class Cluster(Base):
    __tablename__ = "cluster"
    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String(80))
    
    def __init__(self, name):
        self.name = name
    
class ClusterPatient(Base):
    __tablename__ = "clusterpatient"
    caseid = Column(Integer, ForeignKey('patient.id'), primary_key=True )
    clusterid = Column(Integer, ForeignKey('cluster.id'), primary_key=True)

    def __init__(self, caseid, clusterid):
        self.caseid = caseid
        self.clusterid = clusterid


Base.metadata.create_all(engine)

In [ ]:
'''
Populating the orm-covid.db with records from the covid.csv file
'''
#from schema import * # UNCOMMENT WHEN RUNNING IN local machines
import csv

def insertClusterInfoForPatient(session, clustername, patientid):
    #Checking if the cluster is found in the Cluster table
    foundclusterid = session.query(Cluster).filter(Cluster.name == clustername).limit(1).all()    
    if foundclusterid: #if can find cluster in cluster table, find its' id, and insert into clusterpatient
        session.add(ClusterPatient(patientid, foundclusterid[0].id))
    else: #if cannot find this clustername in the Cluster table, insert new record in cluster table
        #Creating the new cluster
        newcluster = Cluster(clustername)
        session.add(newcluster)

        # Flush the adding of the new cluster before proceeding 
        # else ClusterPatient will fail due to FK not null constraint
        session.flush() 
        
        #Creating the new ClusterPatient Record
        newcp = ClusterPatient(patientid, newcluster.id)
        session.add(newcp)
        
def readandinsert():    
    with Session.begin() as session: #Using transaction, see https://docs.sqlalchemy.org/en/14/core/connections.html
        with open("covid.csv", newline="") as csvfile:
            reader = csv.DictReader(csvfile)
            for row in reader:
                # Creating a new patient record
                newpatient = Patient(   int(row["CaseID"]), 
                                        row["Patient"],
                                        int(row["Age"]),
                                        row["Gender"],
                                        row["Nationality"],
                                        row["Status"] )
                

                 #Inserting a new patient record into the db 
                session.add(newpatient)
            
                #If cluster information is found - try to insert cluster info into DB too. 
                if row["ClusterName"] != "":
                    if ";" not in row['ClusterName']: #Single Cluster
                        insertClusterInfoForPatient(session, row['ClusterName'], newpatient.id)
                    else: #Multiple Clusters
                        clusters = row["ClusterName"].split(";")
                        for c in clusters: 
                            insertClusterInfoForPatient(session, c, newpatient.id)
                        

readandinsert()

In [ ]:
#from schema import * # UNCOMMENT WHEN RUNNING IN local drives

engine = create_engine('sqlite:///orm-covid.db', echo=True)
Session = sessionmaker(bind=engine)
session = Session()

# Different type of ORM queries
# Reference: https://www.tutorialspoint.com/sqlalchemy/sqlalchemy_orm_using_query.htm
print("\n\nFirst patient")
firstpatient = session.query(Patient).first()
print(firstpatient.patient)


print("\n\nFirst 10 patients")
first10patients = session.query(Patient).limit(10).all()
for patient in first10patients:
  print(patient.patient)


#Queries with filters with multiple criterion
#Reference: https://www.tutorialspoint.com/sqlalchemy/sqlalchemy_orm_filter_operators.htm 
olderthan70male = session.query(Patient).filter(Patient.age > 70, Patient.gender == "Male").all()
print(f"\n\n{len(olderthan70male)} Male Patients who are more than 70 years old")
for patient in olderthan70male:
  print(patient.patient)

#Joins
print("\nInfected patients at CNY Family Gathering at Mei Hwan Dr")
# Reference: https://www.tutorialspoint.com/sqlalchemy/sqlalchemy_orm_working_with_joins.htm 
cnyfamily = session.query(Patient).join(ClusterPatient).join(Cluster).filter(Cluster.name == "CNY Family Gathering at Mei Hwan Dr").all()
for patient in cnyfamily:
  print(patient.patient, patient.id)
  

#Insert New KTV fans
#''' COMMENT THIS LINE TO INSERT

fakepatient1 = Patient(1001, "KTV Fan 1", 55, "M", "Singaporean", "Recovered")
session.add(fakepatient1)

fakecluster = Cluster("XXX Karaoke")
session.add(fakecluster)
session.flush()

session.add(ClusterPatient(fakepatient1.id, fakecluster.id))


secondfakepatient = Patient(1002, "KTV Fan 2", 45, "M", "Singaporean", "Recovered")
session.add(secondfakepatient)

fakecluster2 = Cluster("XYZ Karaoke")
session.add(fakecluster2)
session.flush()

session.add(ClusterPatient(secondfakepatient.id, fakecluster2.id))

session.commit()

karaokegoers = session.query(Patient).join(ClusterPatient).join(Cluster).filter(Cluster.name.like("%Karaoke%")).all()


print("\n\nKTV Clusters")
for p in karaokegoers:
  print(p.patient)

# COMMENT LINE BELOW TO INSERT  
#'''

#Update one innocent KTV fan
#Reference: https://www.tutorialspoint.com/sqlalchemy/sqlalchemy_orm_updating_objects.htm
innocentman = session.query(Patient).get(1002) #Using get method to retrieve Patient with PK = 1002
innocentman.patient = "Just there to buy mango"
session.commit() #Erasing his sins

newpatientinfo = session.query(Patient).get(1002)
print(newpatientinfo.patient) #Yay, acquited

#Delete innocentman's clusterpatient info, but preserving cluster in case other 'XYZ Karaoke' patrons are in the system
#Reference: https://www.tutorialspoint.com/sqlalchemy/sqlalchemy_orm_deleting_related_objects.htm 
toremove = session.query(ClusterPatient).get((1002, 13)) #getting the record (caseid = 1002, clusterid = 13) 
if toremove: 
  session.delete(toremove)
  session.commit()


checkRemoved = session.query(ClusterPatient).filter(ClusterPatient.caseid==1002).count()
if checkRemoved == 0:
  print("Yay! Removed innocent man from clusterpatient!")

First patient
2022-05-25 02:28:10,519 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-25 02:28:10,525 INFO sqlalchemy.engine.Engine SELECT patient.id AS patient_id, patient.patient AS patient_patient, patient.age AS patient_age, patient.gender AS patient_gender, patient.nationality AS patient_nationality, patient.status AS patient_status
FROM patient
 LIMIT ? OFFSET ?
2022-05-25 02:28:10,528 INFO sqlalchemy.engine.Engine [generated in 0.00332s] (1, 0)
66 year old Wuhan Man


First 10 patients
2022-05-25 02:28:10,534 INFO sqlalchemy.engine.Engine SELECT patient.id AS patient_id, patient.patient AS patient_patient, patient.age AS patient_age, patient.gender AS patient_gender, patient.nationality AS patient_nationality, patient.status AS patient_status
FROM patient
 LIMIT ? OFFSET ?
2022-05-25 02:28:10,537 INFO sqlalchemy.engine.Engine [cached since 0.01229s ago] (10, 0)
66 year old Wuhan Man
53 year old female Chinese national from Wuhan
37 year old male Chinese national from Wuhan
36 year old male Chinese national from Wuhan
56 year old female Chinese national from Wuhan
56 year old male Chinese national from Wuhan
35 year old male Chinese national from Wuhan
56 year old female Chinese national from Wuhan
56 year old male Chinese national from Wuhan
56 year old male Chinese national from Wuhan
2022-05-25 02:28:10,544 INFO sqlalchemy.engine.Engine SELECT patient.id AS patient_id, patient.patient AS patient_patient, patient.age AS patient_age, patient.gender AS patient_gender, patient.nationality AS patient_nationality, patient.status AS patient_status
FROM patient
WHERE patient.age > ? AND patient.gender = ?
2022-05-25 02:28:10,550 INFO sqlalchemy.engine.Engine [generated in 0.00626s] (70, 'Male')


16 Male Patients who are more than 70 years old
71 year old male Singapore citizen
77 year old male Singapore Citizen
71 year old male Singapore Citizen
73 year old male Singapore Citizen
71 year old male Singapore Citizen
83 year old male Indonesian national
78 year old male Australian National
86 year old male Singapore Citizen
76 year old male Singaporean Citizen
71 Year Old Male Singaporean
76 Year Old Male Swiss
71 Year Old Male Singaporean
73 Year Old Male Malaysian
77 Year Old Male Indonesian
80 Year Old Male Singaporean
72 Year Old Male Singaporean

Infected patients at CNY Family Gathering at Mei Hwan Dr
2022-05-25 02:28:10,561 INFO sqlalchemy.engine.Engine SELECT patient.id AS patient_id, patient.patient AS patient_patient, patient.age AS patient_age, patient.gender AS patient_gender, patient.nationality AS patient_nationality, patient.status AS patient_status
FROM patient JOIN clusterpatient ON patient.id = clusterpatient.caseid JOIN cluster ON cluster.id = clusterpatient.clusterid
WHERE cluster.name = ?
2022-05-25 02:28:10,563 INFO sqlalchemy.engine.Engine [generated in 0.00217s] ('CNY Family Gathering at Mei Hwan Dr',)
28 year old male Singapore Citizen 66
79 year old female Singapore Citizen 68
27 year old Singapore Citizen 70
25 year old male Singapore Citizen 71
38 year old female Singapore Citizen 80
35 year old female Singapore Citizen 84
30 year old female Singapore Citizen 88
58 year old female Singapore Citizen 91
26 year old male Singapore Citizen 138
51 year old male Singapore Citizen 151
2022-05-25 02:28:10,570 INFO sqlalchemy.engine.Engine INSERT INTO cluster (name) VALUES (?)
2022-05-25 02:28:10,573 INFO sqlalchemy.engine.Engine [generated in 0.00274s] ('XXX Karaoke',)
2022-05-25 02:28:10,578 INFO sqlalchemy.engine.Engine INSERT INTO patient (id, patient, age, gender, nationality, status) VALUES (?, ?, ?, ?, ?, ?)
2022-05-25 02:28:10,581 INFO sqlalchemy.engine.Engine [generated in 0.00284s] (1001, 'KTV Fan 1', 55, 'M', 'Singaporean', 'Recovered')
2022-05-25 02:28:10,586 INFO sqlalchemy.engine.Engine INSERT INTO cluster (name) VALUES (?)
2022-05-25 02:28:10,587 INFO sqlalchemy.engine.Engine [cached since 0.01674s ago] ('XYZ Karaoke',)
2022-05-25 02:28:10,590 INFO sqlalchemy.engine.Engine INSERT INTO clusterpatient (caseid, clusterid) VALUES (?, ?)
2022-05-25 02:28:10,592 INFO sqlalchemy.engine.Engine [generated in 0.00183s] (1001, 12)
2022-05-25 02:28:10,597 INFO sqlalchemy.engine.Engine INSERT INTO patient (id, patient, age, gender, nationality, status) VALUES (?, ?, ?, ?, ?, ?)
2022-05-25 02:28:10,599 INFO sqlalchemy.engine.Engine [cached since 0.02118s ago] (1002, 'KTV Fan 2', 45, 'M', 'Singaporean', 'Recovered')
2022-05-25 02:28:10,604 INFO sqlalchemy.engine.Engine INSERT INTO clusterpatient (caseid, clusterid) VALUES (?, ?)
2022-05-25 02:28:10,606 INFO sqlalchemy.engine.Engine [cached since 0.01581s ago] (1002, 13)
2022-05-25 02:28:10,611 INFO sqlalchemy.engine.Engine COMMIT
2022-05-25 02:28:10,632 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-25 02:28:10,638 INFO sqlalchemy.engine.Engine SELECT patient.id AS patient_id, patient.patient AS patient_patient, patient.age AS patient_age, patient.gender AS patient_gender, patient.nationality AS patient_nationality, patient.status AS patient_status
FROM patient JOIN clusterpatient ON patient.id = clusterpatient.caseid JOIN cluster ON cluster.id = clusterpatient.clusterid
WHERE cluster.name LIKE ?
2022-05-25 02:28:10,645 INFO sqlalchemy.engine.Engine [generated in 0.00659s] ('%Karaoke%',)


KTV Clusters
KTV Fan 1
KTV Fan 2
2022-05-25 02:28:10,651 INFO sqlalchemy.engine.Engine UPDATE patient SET patient=? WHERE patient.id = ?
2022-05-25 02:28:10,656 INFO sqlalchemy.engine.Engine [generated in 0.00514s] ('Just there to buy mango', 1002)
2022-05-25 02:28:10,659 INFO sqlalchemy.engine.Engine COMMIT
2022-05-25 02:28:10,675 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-25 02:28:10,679 INFO sqlalchemy.engine.Engine SELECT patient.id AS patient_id, patient.patient AS patient_patient, patient.age AS patient_age, patient.gender AS patient_gender, patient.nationality AS patient_nationality, patient.status AS patient_status
FROM patient
WHERE patient.id = ?
2022-05-25 02:28:10,684 INFO sqlalchemy.engine.Engine [generated in 0.00470s] (1002,)
Just there to buy mango
2022-05-25 02:28:10,694 INFO sqlalchemy.engine.Engine SELECT clusterpatient.caseid AS clusterpatient_caseid, clusterpatient.clusterid AS clusterpatient_clusterid
FROM clusterpatient
WHERE clusterpatient.caseid = ? AND clusterpatient.clusterid = ?
2022-05-25 02:28:10,696 INFO sqlalchemy.engine.Engine [generated in 0.00172s] (1002, 13)
2022-05-25 02:28:10,700 INFO sqlalchemy.engine.Engine DELETE FROM clusterpatient WHERE clusterpatient.caseid = ? AND clusterpatient.clusterid = ?
2022-05-25 02:28:10,702 INFO sqlalchemy.engine.Engine [generated in 0.00198s] (1002, 13)
2022-05-25 02:28:10,704 INFO sqlalchemy.engine.Engine COMMIT
2022-05-25 02:28:10,715 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-05-25 02:28:10,725 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT clusterpatient.caseid AS clusterpatient_caseid, clusterpatient.clusterid AS clusterpatient_clusterid
FROM clusterpatient
WHERE clusterpatient.caseid = ?) AS anon_1
2022-05-25 02:28:10,732 INFO sqlalchemy.engine.Engine [generated in 0.00706s] (1002,)
Yay! Removed innocent man from clusterpatient!

# Teaching Points

1. Provide bulk data (in csv/Excel) to allow students to practice in doing file processing & running DDL (Data Definition Language) commands like CREATE TABLE commands used to define database schema.

2. Emphasize need to include FOREIGN KEY constraints to lock in the table to table relationship since we are doing relational database. Having these constraints baked into our DB schema design prevents problems with GIGO data that may infiltrate our DB and compromise data integrity issues.

3. Demonstrate 2 ways of populating data into DB

  - Mass import the contents of bulk data into Python objects (e.g. lists /
dictionaries etc) first before running it as an executemany  command.  

    - Pros: 
      * Simpler for our students to implement  
      * Less DB overheads - Fast IO 
    - Cons: 
      * If data volume is very huge, might not be favourable to create humongous Python objects in memory. 
  - Process each record, and doing insert statements to multiple related tables before moving to next record
    - Pros: Can handle humongous data volume without increasing memory demands
    - Cons: 
      * More complex for students to code? 
      * DB overheads to do query/insert/filters for each record - Slow IO

4. Recommend to set DB project for student as a .py task rather than ipynb task? Good to teach modularity. For instance, schema creation can be in schema.py, whereas, populate data code can be in populatedata.py & queries / main program can be in other .py files.


5. For more abled students, can introduce them to industry-used modules like SQLAlchemy  DB toolkit + ORM. This will increase their versatility in being able to write codes that handles different types of relational DB (e.g. Postgres or MySQL) without much modifications to the SQL statements. It also allows them to upgrade their skills in being able to work with more complex Python libraries, and work on what real-world programmers would use in their projects rather than hand-coding statements.