<a href="https://colab.research.google.com/github/jjcheung/ctcuc22/blob/main/Session_1_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Background**

**Context**: Designing a worksheet for a class of 17 year-olds, some with prior coding knowledge, some without.

**Aim**: To guide students through the basics in coding, to produce a set of code with real world application

**LO**: Input and output operations, variable types and mathematic operations

# **Introduction to Python**

Let's get you started with coding in Python, by building a calculator for your grocery shopping. We will guide you through this!

First of all, let us set the prices of some common groceries. You just found out that the unit prices of apples, bananas and pears are 30 cents, 50 cents and 40 cents respectively. In the cell below, the price for an apple has already been assigned to the variable `cost_apple`. Assign the prices (in dollars) to the variables `cost_banana` and `cost_pear`.

In [9]:
# defining new variables - prices of groceries. 
cost_apple = 0.30
cost_banana = 
cost_pear = 

# Use # in front of any comments (that will not run as code) to help others understand your own code better!

Let's find out what type of variable `cost_apple` is. Key in the variable name into the brackets in the cell below, and run the cell to find out.

In [ ]:
type(______)

In [ ]:
# variable types
# int: integer
# float: floating point number / number with decimals
# str / string: string of Unicode characters (e.g. a phrase containing letters, numbers and spaces)
# bool / boolean: True or False

Let's print out the price list of groceries using `print()` in the cell below. The one for apples has been done for you. Complete the ones for bananas and pears.

In [ ]:
# cost of apple
print('Unit price of apples:')    # printing a string: Use single or double apostrophes for strings!
print(cost_apple)                 # printing the value in a variable

# cost of banana



# cost of pear

Now, let's code a simple program to compute the total cost required to buy the amount of groceries set by the user. 

In the cell below, a line of code to get users to key in the number of apples they want to buy has been done for you. The `input()` function gets the user to enter the number of apples, while the `int()` function converts the keyed value to an integer before it is assigned to the variable `no_apples`. Do the same for bananas and pears.

In [ ]:
# user input for number of groceries to buy
no_apples = int(input('Enter number of apples: ')) #the string in the brackets of input() will be printed as a prompt to the user.
no_bananas = 
no_pears =

Now, compute the total cost using the relevant variables, and print it out.

In [ ]:
total_cost = 
print ('The total cost would be $' + str(total_cost) + '.')   
#printing a series of strings through concatenation. Note that the values of variables have to be converted to strings first!

In [ ]:
# mathematical operators
# +: add
# -: subtract
# *: multiply
# /: divide
# //: floor divide - rounded down to the nearest whole number after dividing e.g. 9 // 2 = 4
# %: modulus - the remainder after dividing. e.g. 5 % 4 = 1
# **: exponent or power. e.g. 3**2 = 9

You found out that you only have a dollar. Calculate how many apples can you buy in the cell below.